{
  "drachtio": {
    "port": 3010,
    "secret": "cymru"
  },
  "freeswitch": {
    "address": "127.0.0.1",
    "port": 8021,
    "secret": "ClueCon"
  },
  "logging": {
    "level": "info"
  },
  "mysql": {
    "host": "localhost",
    "user": "jambones",
    "password": "jambones",
    "database": "jambones"
  },
  "redis": {
    "host": "127.0.0.1",
    "port": 6379
  },
  "outdials": {
    "drachtio": [
      {
        "host": "127.0.0.1",
        "port": 9022,
        "secret": "cymru"
      }
    ],
    "sbc": ["127.0.0.1:5060"]
  }
}